<div class="save-game">
    <button (click)="onRestartGame()">
        <img src="./assets/ui/restart.png" alt="Save Game" class="save-icon" />
    </button>

    @if (isToggled) {
    <app-pop-up
        [popUpMessage]="'restart.confirm' | translate"
        [description]="'restart.warning' | translate"
        [firstOption]="'restart.yes' | translate"
        [showSecondButton]="true"
        [secondOption]="'restart.no' | translate"
        (confirm)="onConfirmRestart()"
        (cancel)="onCancelRestart()"
    ></app-pop-up>
    }
</div>
