<div class="save-game">
    <button (click)="onRestartGame()">
        <img src="./assets/ui/restart.png" alt="Save Game" class="save-icon" />
    </button>

    @if (isToggled) {
    <div class="dialogue">
        <div class="errors">
            <h2>{{ 'restart.confirm' | translate }}</h2>
            <h3>{{ 'restart.warning' | translate }}</h3>

            <div class="options">
                <button (click)="onConfirmRestart()">{{ 'restart.yes' | translate }}</button>
                <button (click)="onCancelRestart()">{{ 'restart.no' | translate }}</button>
            </div>
        </div>
    </div>
    }
</div>
