<div class="header">
    <button class="return-button" routerLink="/home">
        <img src="./assets/ui/left.png">
        {{ 'common.home' | translate }}
    </button>
    <h1>{{ 'game_creator.title' | translate }}</h1>
</div>

<app-game-list
    [isAddBoardVisible]="false"
    [isModifierVisible]="false"
    [includeProtected]="true"
    (selectedGame)="onSelectGame($event)"
    (gamesLength)="onGamesLengthChange($event)"
    class="game-list">
</app-game-list>

@if (hasGames) {
    <div class="create-game-actions">
        <label class="friends-only-toggle">
            <input type="checkbox" [(ngModel)]="friendsOnly" />
            Amis seulement
        </label>
        <button
            class="square-button"
            [disabled]="!selectedGame"
            (click)="createGame()">
            {{ 'game_creator.create' | translate }}
        </button>
    </div>
}

@if (gameModified===true) {
    <app-pop-up
        [isError]="true"
        [popUpMessage]="'game_list.hidden_deleted' | translate"
        [showSecondButton]="false"
        (confirm)="handlePopUp()">
    </app-pop-up>
}
