<div class="player-container">
    @if (isHost){
        <div class="host-container">
            <img src="./assets/ui/crown.png" alt="Is Host" class="host-indicator"/>
        </div>
    }
    @if (isVirtualPlayer){
        <div class="virtual-player-container">
            <img src="./assets/ui/robot.png" alt="Is Virtual Player" class="virtual-player-indicator"/>
        </div>
    }
    @if(showKick){
        <div class="kick-container">
            <button (click)="onKickClick()">X</button>
        </div>
    }
    <div class="div1">
        <img [src]="avatar" alt="Player Character" class="player-image" />
    </div>
    <div class="div2 player-name">
        <p>{{ player.name }}</p>
    </div>
    <div class="stats-row">
        <div class="div3 stat">
            <h3>{{ 'bonus.health' | translate }}</h3>
            <p>{{ player.stats.health.value }}</p>
        </div>
        <div class="div4 stat">
            <h3>{{ 'bonus.speed' | translate }}</h3>
            <p>{{ player.stats.speed.value }}</p>
        </div>
        <div class="div5 stat">
            <h3>{{ 'bonus.attack' | translate }}</h3>
            <p>{{ player.stats.attack.value }}</p>
        </div>
        <div class="div6 stat">
            <h3>{{ 'bonus.defense' | translate }}</h3>
            <p>{{ player.stats.defense.value }}</p>
        </div>
    </div>
</div>
