<div class="game-list" [class.isAddBoardVisible]="isAddBoardVisible">
    <li class="header">
        <span>{{ 'game_list.preview' | translate }}</span>
        <span>{{ 'game_list.name' | translate }}</span>
        <span>{{ 'game_list.size' | translate }}</span>
        <span>{{ 'game_list.mode' | translate }}</span>
        <span>{{ 'game_list.owner' | translate }}</span>
        <span>{{ 'game_list.last_modified' | translate }}</span>
        @if (isModifierVisible) {
        <span>{{ 'game_list.privacy' | translate }}</span>
        <span>{{ 'game_list.modify' | translate }}</span>
        <span>{{ 'game_list.delete' | translate }}</span>
        <span>{{ 'game_list.duplicate' | translate }}</span>
        }
    </li>
    <div class="list">
        @if (isLoading) {
        <app-loading-screen></app-loading-screen>
        } @else if (games.length > 0) {
        <div class="games">
            @for (game of games; track $index + '_' + game._id) {
            <li
                [attr.id]="game._id"
                [class.selected]="!isModifierVisible && game._id === selectedGameId"
                (click)="!isModifierVisible ? onSelectGame(game) : null"
            >
                <span class="preview-image" [title]="game.description">
                    <app-board [board]="game.board" mode="view"></app-board>
                </span>
                <span>{{ game.name }}</span>
                <span>{{ game.board.size }}</span>
                <span>{{ 'game_list.mode_' + game.mode | translate }}</span>
                <span>{{ game.owner }}</span>
                <span>{{ game.modificationDate | date: 'short' }}</span>
                @if (isModifierVisible) {
                <span>
                    @if (game.owner === currentUsername) {
                    <select [value]="game.privacy" (change)="onPrivacyChange(game, $any($event.target).value)">
                        <option value="public">{{ 'game_list.public' | translate }}</option>
                        <option value="private">{{ 'game_list.private' | translate }}</option>
                        <option value="protected">{{ 'game_list.private_shared' | translate }}</option>
                    </select>
                    } @else {
                    {{ game.privacy }}
                    }
                </span>
                <span>
                    <button (click)="onModifyClick(game)" routerLink="/edit-game">
                        <img src="./assets/ui/edit_icon.png" style="width: 30px; height: auto" />
                    </button>
                </span>
                <span>
                    <button (click)="onDeleteClick(game)">
                        <img src="./assets/ui/delete.png" style="width: 30px; height: auto" />
                    </button>
                </span>
                <span>
                    @if (game.privacy === 'public') {
                    <button (click)="onDuplicateClick(game)">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                        </svg>
                    </button>
                    }
                </span>
                }
            </li>
            }
        </div>
        } @else {
        <p class="no-games-message">{{ 'game_list.no_games' | translate }}</p>
        }
        @if (isAddBoardVisible) {
        <button routerLink="/configure-game" class="square-button">{{ 'game_list.add_game' | translate }}</button>
        }
    </div>
    @if (showError) {
    <app-pop-up
        [popUpMessage]="errorMessage"
        [showSecondButton]="true"
        [secondOption]="'common.no' | translate"
        (confirm)="onConfirm()"
        (cancel)="onCancel()"
    >
    </app-pop-up>
    }
</div>
