<div class="container">
    <div class="combat-view">
        <img class="placeholder" [src]="cellReference" />

        @if (enemy && isCombatMode ) {
        <div class="enemy-container">
            <div class="notification" (click)="isWinLossNotification ? resetCombat() : null" [class.show]="showNotification" [class.success]="notificationSuccess" [class.error]="!notificationSuccess" [class.clickable]="isWinLossNotification">         
                <div class="notification-content">             
                    <h3>{{ notificationTitle }}</h3>             
                    <p>{{ notificationMessage }}</p>         
                </div>     
            </div>

            <div class="stats-container">
                <div class="enemy-name">{{ enemy.name }}</div>
                <div class="stat-row">
                    <div class="stat-label">{{ 'bonus.attack' | translate }}</div>
                    <div class="stat-value">{{ getEnemyStat('attack') }}</div>
                </div>
                <div class="stat-row">
                    <div class="stat-label">{{ 'bonus.defense' | translate }}</div>
                    <div class="stat-value">{{ getEnemyStat('defense') }}</div>
                </div>
                <div class="stat-row">
                    <div class="stat-label">{{ 'bonus.speed' | translate }}</div>
                    <div class="stat-value">{{ getEnemyStat('speed') }}</div>
                </div>
                <div class="stat-row">
                    <div class="stat-label">{{ 'bonus.health' | translate }}</div>
                    <div class="stat-value">{{ getEnemyStat('health') }}</div>
                </div>
                <div class="dice-row">
                    <div class="dice-item">
                        <img src="./assets/items/D6.png" />
                        {{ enemy.d6Choice === 'attack' ? 'A' : 'D' }}
                    </div>
                    <div class="dice-item">
                        <img src="./assets/items/D4.png" />
                        {{ enemy.d4Choice === 'attack' ? 'A' : 'D' }}
                    </div>
                </div>
            </div>
            <img class="enemy" [class]="combatState" [src]="enemy!.avatar?.avatarFull" />
        </div>
        } 
        
        @else {
            @if (!selectedCell || isCombatMode) { }

            @else if (selectedCell.player) {
                <div class="enemy-container">
                    <div class="enemy-name" [class.player-name]="selectedCell.player.id === player?.id">
                        {{ selectedCell.player.id === player?.id ? ('combat.you' | translate) : selectedCell.player.name }}
                    </div>
                    <img class="enemy" [src]="selectedCell.player.avatar?.avatarFull" />
                </div>
            }

            @else if (!selectedCell.player && selectedCell.tile.type !== 'door' && !selectedCell.item && !isActionActive) {
                <div class="tile-container">
                    <div class="tile-card">
                        <div class="magnifying-glass-column">
                            <div class="tile-image-container">
                                <img class="tile-image" [src]="selectedCell.tile.imagePath" alt="Tile Image" />
                                <div class="tile-overlay"></div>
                            </div>
                            <div class="tile-handle"></div>
                        </div>
                        
                        <div class="info-column">
                            <div class="tile-header">
                                <span class="tile-type">{{ "tiles_names." + selectedCell.tile.type | translate | titlecase }}</span>
                            </div>
                            
                            @if (selectedCell.tile.moveModifier > 0) {
                                <div class="modifier-section">
                                    <div class="modifier-label">
                                        <span class="modifier-label-text">{{ 'combat.cost' | translate }}</span>
                                    </div>
                                    <div class="move-modifier-badge">+{{ selectedCell.tile.moveModifier }}</div>
                                </div>
                            }
                            
                            <div class="description-section">
                                <div class="description-label">
                                    <span class="description-label-text">{{ 'combat.description_label' | translate }}</span>
                                </div>
                                <div class="tile-description">
                                    <p>{{ 'toolbox.tile_' + selectedCell.tile.type | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @else if (selectedCell.item) {
                <div class="cell-container">
                    <app-item-card [item]="selectedCell.item" [index]="0"></app-item-card>
                </div>
            }
        }
    </div>

    <div class="actions" [class.has-actions]="(showButtons && !isCombatMode) || (isCombatMode && isCombatPlayerTurn)">
        @if (showButtons && !isCombatMode) {

            @if(isActionActive) {
                <button [class.active]="isActionActive" (click)="toggleSelection()">
                    {{ 'combat.cancel' | translate }}
                </button>
            } @else {
                <button [class.active]="isActionActive" [class.disabled]="player?.actionPoints === 0" (click)="toggleAction()">
                    {{ 'combat.act' | translate }}
                </button>
            }

            <button (click)="endTurn()">{{ 'combat.end_turn' | translate }}</button>
        }

        @if (isCombatMode) {
            @if (isCombatPlayerTurn) {
                @if (hasFlightAttempts) {
                    <button [class.active]="showResults && combatState === 'flightAttempt'" (click)="flight()" [class.barbed-wire]="hasEnemyBarbedWire && !isCombatInitiator">{{ 'combat.flee' | translate }}</button>
                }
                <button [class.active]="showResults && (combatState === 'hit' || combatState === 'miss')" (click)="attack()">{{ 'combat.attack_btn' | translate }}</button>
            }
        }
    </div>

    <div class="dice-combat-container" [class.show]="showResults">
        <div class="dice-value player-value" 
             [class.winning]="(isCombatPlayerTurn && defenseValue >= attackValue) || (!isCombatPlayerTurn && attackValue >= defenseValue)"
             [class.losing]="(isCombatPlayerTurn && defenseValue < attackValue) || (!isCombatPlayerTurn && attackValue < defenseValue)">
            <span class="label">{{ isCombatPlayerTurn ? ('combat.your_defense' | translate) : ('combat.your_attack' | translate) }}</span>
            <span class="value">{{ isCombatPlayerTurn ? defenseValue : attackValue }}</span>
        </div>
        
        <div class="dice-value enemy-value" 
             [class.winning]="(isCombatPlayerTurn && attackValue > defenseValue) || (!isCombatPlayerTurn && defenseValue > attackValue)"
             [class.losing]="(isCombatPlayerTurn && attackValue <= defenseValue) || (!isCombatPlayerTurn && defenseValue <= attackValue)">
            <span class="label">{{ isCombatPlayerTurn ? ('combat.enemy_attack' | translate) : ('combat.enemy_defense' | translate) }}</span>
            <span class="value">{{ isCombatPlayerTurn ? attackValue : defenseValue }}</span>
        </div>
    </div>
</div>
