<div class="board" tabindex="0" (contextmenu)="disableContextMenu($event)">
  @for (row of board.matrix; track $index) {
    <div class="row">
      @for (cell of row; track cell.x + '-' + cell.y) {
        <div class="cell"
            [class]="cell.tile.type"
            [class.isAvailable]="availableCells.includes(cell) "
            (mousedown)="handleMouseDown($event, cell)"
            (mousemove)="handleMouseMove(cell)"
            (mouseup)="handleMouseUp()"
            (dragstart)="handleDrag(cell)"
            (dragover)="handleDragOver($event)"
            (drop)="handleDrop(cell)"
            (dragend)="handleDragEnd()"  >
            
          @if(cell.item) {
            <div class="overlay"></div>
            <img class="tile-image" [src]="cell.tile.imagePath" [alt]="cell.tile.type" draggable="false" />
            <img
              class="item"
              [src]="cell.item.imagePath"
              [alt]="('items_names.' + cell.item.type) | translate"
              [title]="('toolbox.item_' + cell.item.type) | translate"
            />
          } @else {
            <img class="tile-image" [src]="cell.tile.imagePath" [alt]="cell.tile.type" draggable="false" />
          }

          @if (mode === 'play' && gameManagerService.isIlluminated(cell.x, cell.y)) {
            <div class="torch-glow"></div>
          }

          @if (cell.player) {
            <app-player [player]="cell.player"></app-player>
          }
          @if(selectedCell) {
            @if (cell.x === selectedCell!.x && cell.y === selectedCell!.y ) {
              <div class="selected">
                @if (isSelectionActive) {
                  <img src="./assets/ui/selected.gif">
                } 

                @if (isActionActive) {
                  <img src="./assets/ui/action.gif">
                }
              </div>
            }
          }
          @if (selectedPath.includes(cell) && selectedCell && isSelectionActive) {
            @if (cell.hasPathUp) { <div class="path vertical top"></div> }
            @if (cell.hasPathDown) { <div class="path vertical bottom"></div> }
            @if (cell.hasPathLeft) { <div class="path horizontal left"></div> }
            @if (cell.hasPathRight) { <div class="path horizontal right"></div> }
          }

        </div>
      }
    </div>
  }
</div>
