@if (showError) {
<app-pop-up popUpMessage="{{ errorMessage }}" [showSecondButton]="false" (confirm)="this.showError = false"> </app-pop-up>
}

@if (showBlockedWarning) {
<app-pop-up
    popUpMessage="{{ blockedWarningMessage }}"
    [showSecondButton]="true"
    firstOption="Entrer quand même"
    secondOption="Annuler"
    (confirm)="onBlockedWarningConfirm()"
    (cancel)="onBlockedWarningCancel()"
>
</app-pop-up>
}

<div class="header">
    <button class="return-button" routerLink="/home">
        <img src="./assets/ui/left.png" />
        Menu Principal
    </button>
    <h1>Rejoindre une partie</h1>
</div>

<app-room-list (selectedRoom)="onRoomSelected($event)"></app-room-list>

<div class="join-game-container">
    <h2>Entrez le code de la partie à 4 chiffres</h2>
    <div class="code-input-column">
        <input #gameCode type="text" pattern="\d{4}" maxlength="4" title="Entrez exactement 4 chiffres" required />
        <button class="square-button" (click)="joinGame()">Accéder à la salle d'attente</button>
    </div>
</div>