@if (showError) {
<app-pop-up [isError]="true" popUpMessage="{{ errorMessage }}" [showSecondButton]="false" (confirm)="this.showError = false"> </app-pop-up>
} @if (showBlockedWarning) {
<app-pop-up
    popUpMessage="{{ blockedWarningMessage }}"
    [showSecondButton]="true"
    firstOption="Entrer quand même"
    secondOption="Annuler"
    (confirm)="onBlockedWarningConfirm()"
    (cancel)="onBlockedWarningCancel()"
>
</app-pop-up>
}

<div class="header">
    <button class="return-button" routerLink="/home">
        <img src="./assets/ui/left.png" />
        {{ 'join.back' | translate }}
    </button>
    <h1>{{ 'join.title' | translate }}</h1>
    <app-profile-menu></app-profile-menu>
</div>

<app-room-list (selectedRoom)="onRoomSelected($event)"></app-room-list>

<div class="join-game-container">
    <h2>{{ 'join.code_prompt' | translate }}</h2>
    <div class="code-input-column">
        <input
            #gameCode
            type="text"
            pattern="\d{4}"
            inputmode="numeric"
            maxlength="4"
            [title]="'join.code_placeholder' | translate"
            required
            (input)="onGameCodeInput(gameCode)"
        />
        <button class="square-button" (click)="joinGame()" [disabled]="!isJoinButtonEnabled">{{ 'join.join_btn' | translate }}</button>
    </div>
</div>
