@if (showError) {
<app-pop-up [isError]="true" popUpMessage="{{ errorMessage }}" [showSecondButton]="false" (confirm)="this.showError = false"> </app-pop-up>
}

<div class="header">
    <button class="return-button" routerLink="/home">
        <img src="./assets/ui/left.png" />
        {{ 'join.back' | translate }}
    </button>
    <h1>{{ 'join.title' | translate }}</h1>
</div>

<app-room-list (selectedRoom)="onRoomSelected($event)"></app-room-list>

<div class="join-game-container">
    <h2>{{ 'join.code_prompt' | translate }}</h2>
    <div class="code-input-column">
        <input #gameCode type="text" pattern="\d{4}" maxlength="4" [title]="'join.code_placeholder' | translate" required />
        <button class="square-button" (click)="joinGame()">{{ 'join.join_btn' | translate }}</button>
    </div>
</div>
