@if (isGameCanceled) {
<app-pop-up
    [popUpMessage]="'main.game_canceled' | translate"
    description=""
    [showSecondButton]="false"
    (confirm)="understandError()"
    [firstOption]="'common.understood' | translate"
></app-pop-up>
} @if (isGameFinished) {
<app-pop-up
    [popUpMessage]="'main.game_finished' | translate"
    description=""
    [showSecondButton]="false"
    (confirm)="understandMessage()"
    [firstOption]="'common.understood' | translate"
></app-pop-up>
}

<div class="container">
    <div class="settings-menu" #settingsMenu>
        <span class="currency-inline">{{ currencyService.balance$ | async }}</span>
        <img src="./assets/gold_coin.png" alt="pièces" class="coin-icon" />
        <button class="settings-button" (click)="toggleSettingsMenu()">
            <img [src]="avatarDisplayUrl" alt="Profil" class="settings-icon avatar-circle" />
        </button>
        <div class="settings-dropdown" [class.show]="showSettingsMenu">
            <button class="settings-option" routerLink="/profile">{{ 'main.profile' | translate }}</button>
            <button class="settings-option" routerLink="/games-history">{{ 'main.games_history' | translate }}</button>
            <button class="settings-option" routerLink="/logs-history">{{ 'main.login_history' | translate }}</button>
            <button class="settings-option" (click)="logout()">{{ 'main.logout' | translate }}</button>
        </div>
    </div>

    <div class="content-wrapper">
        <h1 class="header-item"></h1>
        <img class="logo" src="./assets/ui/eastern_solace_logo-removebg-preview.png" alt="Logo Jeu" />

        <section id="play-option" class="button-container">
            <button class="button" id="join-game-button" routerLink="/join-game">{{ 'main.join_game' | translate }}</button>
            <button class="button" id="create-game-button" routerLink="/create-game">{{ 'main.create_game' | translate }}</button>
            <button class="button" id="admin-game-button" routerLink="/admin-game">{{ 'main.admin_games' | translate }}</button>
            <button class="button friends-button" id="friends-button" routerLink="/friends">
                {{ 'main.friends' | translate }}
                @if (pendingRequestCount > 0) {
                <span class="badge">{{ pendingRequestCount }}</span>
                }
            </button>
            <button class="button" id="shop-button" routerLink="/shop">{{'main.shop' | translate}}</button>
        </section>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">{{ 'auth.team' | translate }}</h4>
        <p>
            <span>Ahmed Sami Benabbou</span>, <span>May Guessous</span>, <span>Ayoub Marfouk</span>, <span>Pierre Carré</span>,
            <span>Anis Gadouche</span>, <span>Djihed Benaiche</span>
        </p>
    </footer>
</div>
