@if (isGameCanceled) {
    <app-pop-up popUpMessage="Partie annulée par manque de joueurs" 
    description=""
    [showSecondButton]="false" 
    (confirm)="understandError()"
    firstOption="Compris"></app-pop-up>
}

@if (isGameFinished) {
    <app-pop-up popUpMessage="Partie terminé, limite de 3 victoires atteintes par un personnage" 
    description=""
    [showSecondButton]="false" 
    (confirm)="understandMessage()"
    firstOption="Compris"></app-pop-up>
}


<div class="container">
    
    <div class="content-wrapper">
        <h1 class="header-item"></h1>
        <img class="logo" src="./assets/ui/eastern_solace_logo-removebg-preview.png" alt="Logo Jeu" />
        
        <section id="play-option" class="button-container">
            <button class="button" id="join-game-button" routerLink="/join-game">Joindre une partie</button>
            <button class="button" id="create-game-button" routerLink="/create-game">Créer une partie</button>
            <button class="button" id="admin-game-button" routerLink="/admin-game">Administrer les jeux</button>
        </section>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 212</h4>
        <p>
            <span>Fares Laadjel</span>, <span>Anis Gadouche</span>, <span>Ayoub Marfouk</span>, 
            <span>Pierre Carré</span>, <span>Chems-Eddine Kardoussi</span>, <span>Anas Chati</span>
        </p>
    </footer>
</div>
