<div class="game-creation-container">
    <h1>Créer un nouveau jeu</h1>

    <div class="mode-selection">
        <h2>Mode de jeu</h2>
        <div class="mode-selection-buttons">
            <label>
                <input type="radio" name="mode" value="classique" (change)="onModeChange('classique')" checked />
                Classique
            </label>
            <label class="ctf-label">
                <input type="radio" name="mode" value="ctf" (change)="onModeChange('ctf')" />
                CTF
            </label>
        </div>
        <span class="mode-description">{{ modeDescription }}</span>
    </div>

    <div class="size-selection">
        <h2>Taille de la carte</h2>
        <div class="size-selection-buttons">
            <label>
                <input type="radio" name="size" value="petite" (change)="onSizeChange(boardSizes.Petite)" />
                Petite
            </label>
            <label>
                <input type="radio" name="size" value="moyenne" (change)="onSizeChange(boardSizes.Moyenne)" checked />
                Moyenne
            </label>
            <label>
                <input type="radio" name="size" value="grande" (change)="onSizeChange(boardSizes.Grande)" />
                Grande
            </label>
        </div>
        <div class="size-description">
            <span><strong>Grille: </strong>{{ board }}x{{ board }}</span>
            <span><strong>Joueurs: </strong>{{ players }}</span>
            <span><strong>Items: </strong>{{ items }}</span>
        </div>
    </div>

    <div class="actions-selection">
        <h2>Nombre de points d'actions</h2>
        <div class="actions-selection-buttons">
            <label>
                <input type="radio" name="name" value="petite" (change)="onActionsChange(1)" checked/>
                1
            </label>
            <label>
                <input type="radio" name="name" value="moyenne" (change)="onActionsChange(2)" />
                2
            </label>
            <label>
                <input type="radio" name="name" value="grande" (change)="onActionsChange(3)" />
                3
            </label>
            <label>
                <input type="radio" name="name" value="grande" (change)="onActionsChange(4)" />
                4
            </label>
            <label>
                <input type="radio" name="name" value="grande" (change)="onActionsChange(5)" />
                5
            </label>
        </div>
        <div class="actions-description">
            <span class="mode-description">{{ actionsDescription }}</span>
        </div>
    </div>

    <div class="privacy-selection">
        <h2>Confidentialité</h2>
        <div class="privacy-selection-buttons">
            <label>
                <input type="radio" name="privacy" value="public" (change)="onPrivacyChange('public')" checked />
                Public
            </label>
            <label>
                <input type="radio" name="privacy" value="private" (change)="onPrivacyChange('private')" />
                Privé
            </label>
            <label>
                <input type="radio" name="privacy" value="protected" (change)="onPrivacyChange('protected')" />
                Privé-partagé
            </label>
        </div>
    </div>

    <div class="actions">
        <br />
        <button class="cancel-btn" (click)="cancel()">Annuler</button>
        <button class="create-btn" (click)="createGame()">Créer</button>
    </div>
</div>
