.game-creation-container {
    display:flex;
    flex-direction: column;
    gap: 50px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: var(--theme-text-primary);
}

.mode-selection-buttons,
.size-selection-buttons,
.actions-selection-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

label:hover:not(.ctf-label) {
    cursor: pointer;
    color: var(--theme-text-hover);
}

label:active:not(.ctf-label) {
    color: var(--theme-text-hover-active);
} 

.ctf-label {
    color: var(--theme-text-primary);
}

input[disabled] {
    color-scheme: light dark;
}

input[type='radio'] {
    accent-color: var(--theme-accent-hover);
    cursor: pointer;
}

.mode-description,
.actions-description {
    color: var(--theme-text-muted);
}

.size-description {
    color: var(--theme-text-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 18%;
}

button:hover {
    cursor: pointer;
    color: var(--theme-text-hover);
}

button:active {
    color: var(--theme-text-hover-active);
}
