<div class="bonus-attributes-container">
    <h1 class="title">Stats</h1>
    <div class="stats-choice-container">
        <div id="health" title="{{ this.player.stats.health.description }}" class="stat-container">
            <div class="stat-name">
                <h3>Vie</h3>
                <p class="stat-description">{{ this.player.stats.health.description }}</p>
            </div>
            <h3>{{ health }}</h3>
            <button #healthBonus class="button" (click)="selectBonus('healthBonus')"
                [class.selected]="selectedBonus === 'healthBonus'">
                +2
            </button>
        </div>
        <div id="speed" title="{{ this.player.stats.speed.description }}" class="stat-container">
            <div class="stat-name">
                <h3>Rapidité</h3>
                <p class="stat-description">{{ this.player.stats.speed.description }}</p>
            </div>
            <h3>{{ speed }}</h3>
            <button #speedBonus class="button" (click)="selectBonus('speedBonus')"
                [class.selected]="selectedBonus === 'speedBonus'">
                +2
            </button>
        </div>
        <div id="attack" title="{{ this.player.stats.attack.description }}" class="stat-container">
            <div class="stat-name">
                <h3>Attaque</h3>
                <p class="stat-description">{{ this.player.stats.attack.description }}</p>
            </div>
            <h3>{{ this.player.stats.attack.value }}</h3>
            <button id="four-sides" class="button" (click)="selectAttackDice(d4Value)" [class.selected]="attackDice === d4Value" title="Dé à 4 cotés">
                <img src="./assets/items/D4.png" class="dice" />
            </button>
            <button id="six-sides" class="button" (click)="selectAttackDice(d6Value)" [class.selected]="attackDice === d6Value" title="Dé à 6 cotés">
                <img src="./assets/items/D6.png" class="dice" />
            </button>
        </div>
        <div id="defense" title="{{ this.player.stats.defense.description }}" class="stat-container">
            <div class="stat-name">
                <h3>Défense</h3>
                <p class="stat-description">{{ this.player.stats.defense.description }}</p>
            </div>
            <h3>{{ this.player.stats.defense.value }}</h3>
            <button
                id="four-sides"
                class="button"
                (click)="selectDefenseDice(d4Value)"
                [class.selected]="defenseDice === d4Value"
                title="Dé à 4 cotés"
            >
                <img src="./assets/items/D4.png" class="dice" />
            </button>
            <button
                id="six-sides"
                class="button"
                (click)="selectDefenseDice(d6Value)"
                [class.selected]="defenseDice === d6Value"
                title="Dé à 6 cotés"
            >
                <img src="./assets/items/D6.png" class="dice" />
            </button>
        </div>
    </div>
</div>
