<div class="save-game">
    <button (click)="onSaveGame()">
        <img src="./assets/ui/save.png" alt="Save Game" class="save-icon" />
    </button>

    @if (errors.length > 0) {
    <div class="dialogue">
        <div class="errors">
            <h2>{{ 'save.errors_title' | translate }}</h2>
            <ul>
                @for (error of errors; track error) {
                <li>{{ error.message! | translate: getErrorParams(error) }}</li>
                }
            </ul>
            <button (click)="closeDialogue()">{{ 'save.close' | translate }}</button>
        </div>
    </div>
    }
    @if (showError === true) {
        <app-pop-up
            [isError]="true"
            popUpMessage="{{errorMessage}}"
            (confirm)="onConfirm()"
            (cancel)="closeDialogue()"
            [showSecondButton]="showSecondButton"
            [secondOption]="'common.no' | translate">
        </app-pop-up>
    }
</div>
