<div class="chatbox" [class.collapsed]="isCollapsed">
    <div class="chatbox-header">
        <h3>Chat</h3>
        <div class="header-buttons">
            <div class="toggle-button" (click)="toggleChatbox()">
                @if (isCollapsed) {
                <span>▼</span>
                } @else {
                <span>▲</span>
                }
            </div>
        </div>
    </div>

    <div class="chatbox-content" [class.hidden]="isCollapsed">
        <div class="chatbox-messages" #chatboxMessages>
            @for (msg of messages; track $index) {
            <div class="message">
                <div class="message-content">{{ msg.time }} - {{ msg.name }}: {{ msg.content }}</div>
            </div>
            }
        </div>

        <div class="chatbox-input">
            <input
                #messageInput
                type="text"
                maxlength="200"
                placeholder="Écrire un message..."
                [(ngModel)]="newMessage"
                (keydown.enter)="sendMessage()"
            />
            <button (click)="sendMessage()" class="square-button">Envoyer</button>
        </div>
    </div>
</div>
