<div class="toolbox">
    <div class="tiles" (mousedown)="toggleTab('tiles')">
        <button class="tab-button" [class.active]="activeTab === 'tiles'"><p>{{ 'toolbox.tiles' | translate }}</p></button>
        <div class="list container">
            <div class="tile-list">
                @for (tile of filteredTiles; track tile) {
                <div class="tile-item">
                    <button
                        (click)="setActiveTile(tile.key)"
                        [title]="'toolbox.tile_' + tile.key | translate"
                        [class.active-overlay]="this.getActiveTile().type === tile.key"
                    >
                        <img class="item-img" [src]="tile.value.images.default" [alt]="tile.value.name" draggable="false" />
                    </button>
                </div>
                }
            </div>
            @if (activeTab ==='tiles') {
            <div class="controls" [@fadeInOut]>
            </div>
            }
        </div>
    </div>
    <div class="items" (mousedown)="toggleTab('item')">
        <button class="tab-button" [class.active]="activeTab === 'item'"><p>{{ 'toolbox.items' | translate }}</p></button>
        <div class="list container">
            <div class="item-list">
                @for(item of items | keyvalue: noSort; track item) {
                <div class="item-item" (dragstart)="startDrag(item.key)" (dragend)="handleDragEnd()" [draggable]="getItemCount(item.key) !== 0">
                    <button [title]="'toolbox.item_' + item.key | translate" [class.grayed-out]="getItemCount(item.key) === 0">
                        <img
                            class="item-img"
                            [src]="item.value.imagePath"
                            [alt]="item.value.name"
                            draggable="false"
                            [class.grayed-out]="isItemDragging(item.key)"
                        />
                    </button>
                </div>
                }
            </div>
            @if (activeTab ==='item') {
            <div class="controls" [@fadeInOut]>
                <div class="item-count">
                    <br />
                    <span>{{ 'toolbox.items_to_place' | translate }}: {{ getItemCount('random') }} &nbsp;|&nbsp; {{ 'toolbox.spawns_to_place' | translate }}: {{ getSpawnPointCount() }}</span>
                </div>
            </div>
            }
        </div>
    </div>

    <div class="infos" (mousedown)="toggleTab('infos')">
        <button class="tab-button" [class.active]="activeTab === 'infos'"><p>{{ 'toolbox.infos' | translate }}</p></button>
        <div class="list">
            <p>{{ 'toolbox.name' | translate }}</p>
            <input type="text" (input)="updateName()" [(ngModel)]="nameInput" [placeholder]="namePlaceholder" maxlength="20" />
            <br />
            <p>{{ 'toolbox.description' | translate }}</p>
            <textarea (input)="updateDescription()" [(ngModel)]="descriptionInput" [placeholder]="descriptionPlaceholder" maxlength="200"></textarea>
        </div>
    </div>
    <div class="footer">
        <app-generate-map [board]="board" (mapGenerated)="onMapGenerated()"></app-generate-map>
        <app-save-game [board]="board"></app-save-game>
        <app-restart-game [board]="board" (restartConfirmed)="onRestartConfirmed()"></app-restart-game>
    </div>
</div>
