.return-button {
    position: fixed;
    top: 30px;
    left : 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    .return-btn-txt {
        transform: translateY(4px);
    }
}

.return-button:hover {
    color: red;
}

.return-button:active {
    color: darkred;
}

.return-button > img {
    width: 15px;
}

.waiting-room-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: -2rem;
}

.waiting-room-container .title {
    position: fixed;
    top: 0px;
}

.players-container {
    position: fixed;
    top: 80px;
    bottom: calc(150px + .5em);
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.chat-container {
    position: fixed;
    bottom: 0;
    right: 0;
}

.game-info {
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
}

.game-info h3 {
    margin-bottom: -1rem;
}

.host-options {
    position: fixed;
    bottom: 10px;
}

.waiting-msg {
    position: fixed;
    bottom: 16px;
}

button {
    padding: 10px 15px;
    width: auto;
}

button:hover {
    cursor: pointer;
    color: red;
}

button:active {
    color: darkred;
}

.startGame-btn {
    opacity: 0.5;
    cursor: not-allowed;
}

.startGame-btn:hover {
    color: inherit; 
}

.startGame-btn.isClickable {
    opacity: 1;
    cursor: pointer;
}

.startGame-btn.isClickable:hover {
    color: red; 
}