@if (showError) {
<app-pop-up popUpMessage="{{ errorMessage }}" [showSecondButton]="false" (confirm)="router.navigate([routes.home])"> </app-pop-up>
} @if (showMessage) {
<app-pop-up popUpMessage="{{ errorMessage }}" [showSecondButton]="false" (confirm)="onCancel()"> </app-pop-up>
} @if (showErrorFromService) {
<app-pop-up popUpMessage="{{ errorMessageFromService }}" [showSecondButton]="false" (confirm)="disableUnlockError()"> </app-pop-up>
} @if (showConfirmation) {
<app-pop-up popUpMessage="{{ errorMessage }}" [showSecondButton]="true" firstOption="Oui" secondOption="Non" (confirm)="toDo()" (cancel)="onCancel()">
</app-pop-up>
} @if (!code) {
<app-pop-up popUpMessage="Déconnexion automatique ..." [showSecondButton]="false" (confirm)="router.navigate([routes.home])"> </app-pop-up>
}

<div class="header">
    <button class="return-button" (click)="confirmAction('leave')">
        <img src="./assets/ui/left.png" />
        <span class="return-btn-txt">Quitter la partie</span>
    </button>
    <h1 class="title">Salle d'attente</h1>
</div>

<div class="waiting-room-container">
    <div class="players-container">
        @for (player of room?.players; track player.id) {
        <app-player-card
            [showKick]="isHost && player.id !== room?.hostId"
            [isHost]="player.id === room?.hostId"
            [player]="player"
            (banEvent)="confirmAction('kick', $event)"
        >
        </app-player-card>
        }
    </div>

    <div class="game-info-container">
        <div class="game-info">
            <h3>Code de la partie :</h3>
            <h1>{{ code }}</h1>
        </div>
        @if(isHost) {
        <div class="host-options">
            <button class="lock-btn" (click)="confirmAction('lock')">
                {{ room?.isLocked ? 'Déverrouiller la salle' : 'Verrouiller la salle' }}
            </button>
            <button class="startGame-btn" [class.isClickable]="isStartValid" (click)="startGame()">Commencer la partie</button>
            <button class="add-vp-btn" [class.isClickable]="!room?.isLocked" (click)="openProfileSection()">Ajouter un joueur virtuel</button>
        </div>
        @if (isProfileSectionVisible) {
        <app-pop-up
            [popUpMessage]="'Sélectionnez le profil du joueur virtuel :'"
            [showSecondButton]="true"
            [firstOption]="'Agressif'"
            [secondOption]="'Défensif'"
            (confirm)="handleAgressiveProfileClick()"
            (cancel)="handleDefensiveProfileClick()"
        >
        </app-pop-up>
        } } @else {
        <div class="waiting-msg">En attente de l'organisateur de la partie...</div>
        }
    </div>
</div>
