<div class="header">
    <button class="return-button" routerLink="/join-game">
        <img src="./assets/ui/left.png" />
        {{ 'main.join_game' | translate }}
    </button>
    <h1>{{ 'create_player.title' | translate }}</h1>
</div>
<div class="container">
    <div class="char-grid">
        <app-character-grid
        (characterSelected)="onCharacterSelected($event)"
        [reservedAvatars]="reservedAvatars"
        [purchasedItems]="currencyService.purchasedItems"
        [socketId]="getId()">
        </app-character-grid>
    </div>
    <div class="char-input">
        @if(selectedCharacter.character.name) {
        <div class="selected-character-preview">
            <div class="character-image-container">
                <img [src]="selectedCharacter.character.avatarFull" [alt]="selectedCharacter.character.name" />
            </div>
            <div class="character-name">
                <p>{{ selectedCharacter.character.name }}</p>
            </div>
            <div class="stats-row">
                <div class="stat stat-health">
                    <h3>{{ 'bonus.health' | translate }}</h3>
                    <p>{{ previewPlayer.stats.health.value }}</p>
                </div>
                <div class="stat stat-speed">
                    <h3>{{ 'bonus.speed' | translate }}</h3>
                    <p>{{ previewPlayer.stats.speed.value }}</p>
                </div>
                <div class="stat stat-attack">
                    <h3>{{ 'bonus.attack' | translate }}</h3>
                    <p>{{ previewPlayer.stats.attack.value }}</p>
                </div>
                <div class="stat stat-defense">
                    <h3>{{ 'bonus.defense' | translate }}</h3>
                    <p>{{ previewPlayer.stats.defense.value }}</p>
                </div>
            </div>
        </div>
        } @else {
            <div class="selected-character-preview">
                <div class="character-image-container">
                    <img src="./assets/avatars/new/emptyFull.png">
                </div>
                <div class="character-name">
                    <p>{{ 'create_player.choose' | translate }}</p>
                </div>
                <div class="stats-row">
                    <div class="stat stat-health">
                        <h3>{{ 'bonus.health' | translate }}</h3>
                        <p>0</p>
                    </div>
                    <div class="stat stat-speed">
                        <h3>{{ 'bonus.speed' | translate }}</h3>
                        <p>0</p>
                    </div>
                    <div class="stat stat-attack">
                        <h3>{{ 'bonus.attack' | translate }}</h3>
                        <p>0</p>
                    </div>
                    <div class="stat stat-defense">
                        <h3>{{ 'bonus.defense' | translate }}</h3>
                        <p>0</p>
                    </div>
                </div>
            </div>
        }
        <div class="validate-player-container">
            <button
                class="square-button"
                (click) = "createPlayer()"
                >
                @if (isHost) {
                    {{ 'create_player.create_game' | translate }}
                }
                @else {
                    {{ 'create_player.join_waiting' | translate }}
                }
            </button>
        </div>
    </div>
    <div class="stats-cont">
        <app-bonus-choices (bonusSelected)="onBonusSelected($event)"></app-bonus-choices>
    </div>
</div>

@if (gameModified===true) {
    <app-pop-up
        [isError]="true"
        [popUpMessage]="'create_player.hidden_deleted' | translate"
        [showSecondButton]="false"
        (confirm)="handlePopUp()">
    </app-pop-up>
}

@if (showError===true) {
    <app-pop-up
        [isError]="true"
        popUpMessage="{{errorMessage}}"
        [showSecondButton]="false"
        (confirm)="handlePopUp()">
    </app-pop-up>
}

@if (!validCharacter) {
    <app-pop-up
        [isError]="true"
        [popUpMessage]="'create_player.choose_all' | translate"
        [showSecondButton]="false"
        (confirm)="validCharacter=true">
    </app-pop-up>
}
