<div class="container">
    
    <div class="content-wrapper">
        <h1 class="header-item"></h1>
        <img class="logo" src="./assets/ui/eastern_solace_logo-removebg-preview.png" alt="Logo Jeu" />
        <button class="button" (click)="navigateToLogin()">Se connecter</button>
        <button class="button" (click)="navigateToRegister()">Créer un compte</button>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 105</h4>
        <p>
            <span>Ahmed Sami Benabbou</span>, <span>May Guessous</span>, <span>Ayoub Marfouk</span>, 
            <span>Pierre Carré</span>, <span>Anis Gadouche</span>, <span>Djihed Benaiche</span>
        </p>
    </footer>
</div>

