<div class="container">
    <div class="header">
        <img class="logo" src="./assets/ui/eastern_solace_logo-removebg-preview.png" alt="Logo Jeu" />
    </div>

    <div class="content-wrapper">
        <form [formGroup]="form" (ngSubmit)="submitForm()" class="signup-form">
            <div class="field">
              <label for="username">Pseudonyme</label>
              <input id="username" type="text" formControlName="username" autocomplete="given-name" />
          
              @if (form.controls.username.touched && form.controls.username.errors?.['required']) {
                <small class="error">Champ obligatoire</small>
              }
              @if (form.controls.username.touched && form.controls.username.errors?.['pattern']) {
                <small class="error">Caractères spéciaux non autorisés</small>
              }
            </div>
          
            <div class="field">
              <label for="email">Email</label>
              <input id="email" type="email" formControlName="email" autocomplete="email" />
          
              @if (form.controls.email.touched && form.controls.email.errors?.['required']) {
                <small class="error">Champ obligatoire</small>
              }
              @if (form.controls.email.touched && (form.controls.email.errors?.['email'] || form.controls.email.errors?.['pattern'])) {
                <small class="error">Format email invalide</small>
              }

            </div>
          
            <div class="field">
              <label for="password">Mot de passe</label>
              <input
                id="password"
                type="password"
                formControlName="password"
                autocomplete="new-password"
              />
          
              @if (form.controls.password.touched && form.controls.password.errors?.['required']) {
                <small class="error">Champ obligatoire</small>
              }
              @if (form.controls.password.touched && form.controls.password.errors?.['minlength']) {
                <small class="error">Minimum 8 caractères</small>
              }
            </div>
            <div class="field">
                <p class="label">Choisis un avatar</p>
            
                <div class="avatar-grid">
                  @for (a of avatars; track a.id) {
                    <button
                      type="button"
                      class="avatar-btn"
                      [class.selected]="selectedAvatarId === a.id"
                      (click)="selectAvatar(a.id)"
                    >
                      {{ a.label }}
                    </button>
                  }
                </div>
            
                @if (form.controls.avatarId.touched && form.controls.avatarId.errors?.['required']) {
                  <small class="error">Choisis un avatar</small>
                }
              </div>
            <button type="submit" class="btn-primary">
              Créer un compte
            </button>
          </form>
          
    </div>
</div>
