<div class="header">
    <button class="return-button" (click)="quitGame()">
        <img src="./assets/ui/left.png">
        Page d'accueil
    </button>
    <h1> Statistiques </h1>
</div>

<div class="end-game">
    <div class="personal-stats">
        <li class="stats-header" headerType= "personalHeader">
            <span class = "clickable" (click) = "sortBy('name')">
                Joueurs
                @if (sortedProperty === 'name'){
                    @if (isAscending){
                        <img src = './assets/ui/down.png'>
                    }
                    @else {
                        <img src = './assets/ui/up.png'>
                    }
                }
            </span>
            <span class = "clickable" (click) = "sortBy('combats')">Nombre de combats
                @if (sortedProperty === 'combats'){
                    @if (isAscending){
                        <img src = './assets/ui/down.png'>
                    }
                    @else {
                        <img src = './assets/ui/up.png'>
                    }
                }</span>
            <span class = "clickable" (click) = "sortBy('evasions')">Nombre d'évasions
                @if (sortedProperty === 'evasions'){
                    @if (isAscending){
                        <img src = './assets/ui/down.png'>
                    }
                    @else {
                        <img src = './assets/ui/up.png'>
                    }
                }</span>
            <span class = "clickable" (click) = "sortBy('victories')">Nombre de victoires
                @if (sortedProperty === 'victories'){
                    @if (isAscending){
                        <img src = './assets/ui/down.png'>
                    }
                    @else {
                        <img src = './assets/ui/up.png'>
                    }
                }</span>
            <span class = "clickable" (click) = "sortBy('defeats')">Nombre de défaites
                @if (sortedProperty === 'defeats'){
                    @if (isAscending){
                        <img src = './assets/ui/down.png'>
                    }
                    @else {
                        <img src = './assets/ui/up.png'>
                    }
                }</span>
            <span class = "clickable" (click) = "sortBy('healthLost')">Points de vie perdus
                @if (sortedProperty === 'healthLost'){
                    @if (isAscending){
                        <img src = './assets/ui/down.png'>
                    }
                    @else {
                        <img src = './assets/ui/up.png'>
                    }
                }</span>
            <span class = "clickable" (click) = "sortBy('damage')">Points de vie enlevés
                @if (sortedProperty === 'damage'){
                    @if (isAscending){
                        <img src = './assets/ui/down.png'>
                    }
                    @else {
                        <img src = './assets/ui/up.png'>
                    }
                }</span>
            <span class = "clickable" (click) = "sortBy('itemsCollected')">Nombre d'objets différents ramassés
                @if (sortedProperty === 'itemsCollected'){
                    @if (isAscending){
                        <img src = './assets/ui/down.png'>
                    }
                    @else {
                        <img src = './assets/ui/up.png'>
                    }
                }</span>
            <span class = "clickable" (click) = "sortBy('tilesVisited')">Pourcentage de tuiles de terrain visitées
                @if (sortedProperty === 'tilesVisited'){
                    @if (isAscending){
                        <img src = './assets/ui/down.png'>
                    }
                    @else {
                        <img src = './assets/ui/up.png'>
                    }
                }</span>
        </li>
        <div class="players-list">
            @for (player of playersStats; track player.name) {
                <li class="player">
                    <span>{{ player.name }}</span>
                    <span>{{ player.combats }}</span>
                    <span>{{ player.evasions }}</span>
                    <span>{{ player.victories }}</span>
                    <span>{{ player.defeats }}</span>
                    <span>{{ player.healthLost }}</span>
                    <span>{{ player.damage }}</span>
                    <span>{{ player.itemsCollected.length }}</span>
                    <span>{{ getPlayersTilePercentage(player.name) }}%</span>
                </li>
            }
        </div>
    </div>
    <div class="global-stats">
        <li class="stats-header" [ngClass]="playersHadFlag > 0 ? 'columns-5' : 'columns-4'">
            <span>Durée de la partie</span>
            <span>Nombre de tours de jeu</span>
            <span>Pourcentage des tuiles de terrain visitées par au moins un joueur</span>
            <span>Pourcentage des portes ayant été manipulées au moins une fois</span>
            @if(playersHadFlag > 0) {
                <span>Nombre de joueurs différents ayant détenu le drapeau</span>
            }
        </li>
        <li class="global" [ngClass]="playersHadFlag > 0 ? 'columns-5' : 'columns-4'">
            <span>{{ globalStats.gameDuration }}</span>
            <span>{{ globalStats.turns }}</span>
            <span>{{ tileExploredPercentage }}%</span>
            <span>{{ doorsToggledPercentage }}%</span>
            @if(playersHadFlag > 0) {
                <span>{{ playersHadFlag }}</span>
            }
        </li>
    </div>
</div>