<app-notification [message]="notificationMessage" [mode]="turnStartingMode"></app-notification>

@if (isPopUpVisible) {
<app-pop-up [popUpMessage]="replaceMessage" [items]="candidateItems" (itemSelected)="onItemReplacement($event)"> </app-pop-up>
} 

@if (isTrapPopupVisible) {
<app-pop-up
    popUpMessage="Vous êtes sur un piège!"
    [description]="trapDescription"
    [firstOption]="trapCanAvoid ? 'Éviter' : 'Traverser'"
    [secondOption]="'Traverser'"
    [showSecondButton]="trapCanAvoid"
    (confirm)="onTrapChoice(trapCanAvoid ? 'avoid' : 'traverse')"
    (cancel)="onTrapChoice('traverse')"
>
</app-pop-up>
}

@if (isGameLoaded) {

<!-- @if (isGameCanceled) {
    <app-pop-up popUpMessage="Partie annulée par manque de joueurs"
    description=""
    [showSecondButton]="false"
    (confirm)="goBackToMenu()"
    firstOption="continuer"></app-pop-up>
    } -->

@if (isGameFinished) {
<app-notification [message]="generateEndMessage()" [time]="5000" [mode]="finishMode"></app-notification>
}

@if(isCombatMode) {
<div class="main-container">
    <div class="left-side">
        <app-game-info></app-game-info>
        <div class="board-container">
            <div class="board combatMode">
                <app-board [board]="board" mode="play"></app-board>
            </div>
        </div>
        <app-player-hud></app-player-hud>
    </div>
    <div class="middle">
        <!-- <app-timer></app-timer> -->
        @if(isTurnToFight){
            <p class="combatCountdown">À vous de jouer! Il vous reste: {{combatCountdown}} secondes</p>
        }@else {
            <p class="combatCountdown">C'est votre tour dans: {{combatCountdown}} secondes</p>
        }
        <app-combat></app-combat>
    </div>
    <div class="right-side">
        <app-actions-hud></app-actions-hud>
        <p class="flightinfos">{{flightAttemptsLeft}} tentatives d'évasion restantes</p>
        <app-chatbox></app-chatbox>
    </div>
</div>

} @else {
<div class="main-container">
    <div class="left-side">
        <app-game-info></app-game-info>
        <app-combat></app-combat>
        <app-player-hud></app-player-hud>
    </div>
    <div class="middle">
        <!-- <app-timer></app-timer> -->
        <p class="gameCountdown">Tour en cours: {{gameCountdown}}</p>
        <div class="board-container">
            <div class="board">
                <app-board [board]="board" mode="play"></app-board>
            </div>
        </div>
    </div>
    <div class="right-side">
        <app-actions-hud></app-actions-hud>
        @if (isDebugging) {
        <div class="debug-info">Game is in debug mode</div>
        }
        <app-chatbox></app-chatbox>
    </div>
</div>
} } @else {
    @if (isGameCanceled || this.showError) {
        <app-pop-up
            popUpMessage='Déconnexion automatique'
            [showSecondButton]="false"
            (confirm)="goBackToMenu()">
        </app-pop-up>
}
<app-loading-screen></app-loading-screen>
}
