<app-notification [message]="notificationMessage" [mode]="turnStartingMode"></app-notification>

@if (isPopUpVisible) {
<app-pop-up [popUpMessage]="replaceMessage" [items]="candidateItems" (itemSelected)="onItemReplacement($event)"> </app-pop-up>
} 

@if (isTrapPopupVisible) {
<app-pop-up
    [popUpMessage]="'combat.trap' | translate"
    [description]="trapDescription"
    [firstOption]="trapCanAvoid ? ('combat.avoid' | translate) : ('combat.traverse' | translate)"
    [secondOption]="'combat.traverse' | translate"
    [showSecondButton]="trapCanAvoid"
    (confirm)="onTrapChoice(trapCanAvoid ? 'avoid' : 'traverse')"
    (cancel)="onTrapChoice('traverse')"
>
</app-pop-up>
}

@if (isGameLoaded) {

@if (isGameFinished) {
<app-notification [message]="generateEndMessage()" [time]="5000" [mode]="finishMode"></app-notification>
}

@if(isCombatMode) {
<div class="main-container">
    <div class="left-side">
        <app-game-info></app-game-info>
        <div class="board-container">
            <div class="board combatMode">
                <app-board [board]="board" mode="play"></app-board>
            </div>
        </div>
        <app-player-hud></app-player-hud>
    </div>
    <div class="middle">
        @if(isTurnToFight){
            <p class="combatCountdown">{{ 'combat.your_turn' | translate: { time: combatCountdown ?? '...' } }}</p>
        }@else {
            <p class="combatCountdown">{{ 'combat.their_turn' | translate: { time: combatCountdown ?? '...' } }}</p>
        }
        <app-combat></app-combat>
    </div>
    <div class="right-side">
        <app-actions-hud></app-actions-hud>
        <p class="flightinfos">{{ 'combat.flight_left' | translate: { count: flightAttemptsLeft } }}</p>
        <app-chatbox></app-chatbox>
    </div>
</div>

} @else {
<div class="main-container">
    <div class="left-side">
        <app-game-info></app-game-info>
        <app-combat></app-combat>
        <app-player-hud></app-player-hud>
    </div>
    <div class="middle">
        <p class="gameCountdown">{{ 'combat.current_turn' | translate: { time: gameCountdown ?? '...' } }}</p>
        <div class="board-container">
            <div class="board">
                <app-board [board]="board" mode="play"></app-board>
            </div>
        </div>
    </div>
    <div class="right-side">
        <app-actions-hud></app-actions-hud>
        @if (isDebugging) {
        <div class="debug-info">{{ 'game_info.debug_mode' | translate }}</div>
        }
        <app-chatbox></app-chatbox>
    </div>
</div>
} } @else {
    @if (isGameCanceled || this.showError) {
        <app-pop-up
            [isError]="true"
            [popUpMessage]="'combat.auto_disconnect' | translate"
            [showSecondButton]="false"
            (confirm)="goBackToMenu()">
        </app-pop-up>
}
<app-loading-screen></app-loading-screen>
}
