<div class="bonus-attributes-container">
    <h1 class="title">{{ 'bonus.title' | translate }}</h1>
    <div class="stats-choice-container">
        <div id="health" [title]="'bonus.healthDesc' | translate" class="stat-container">
            <div class="stat-name">
                <h3>{{ 'bonus.health' | translate }}</h3>
                <p class="stat-description">{{ 'bonus.healthDesc' | translate }}</p>
            </div>
            <h3>{{ health }}</h3>
            <button #healthBonus class="button" (click)="selectBonus('healthBonus')"
                [class.selected]="selectedBonus === 'healthBonus'">
                +2
            </button>
        </div>
        <div id="speed" [title]="'bonus.speedDesc' | translate" class="stat-container">
            <div class="stat-name">
                <h3>{{ 'bonus.speed' | translate }}</h3>
                <p class="stat-description">{{ 'bonus.speedDesc' | translate }}</p>
            </div>
            <h3>{{ speed }}</h3>
            <button #speedBonus class="button" (click)="selectBonus('speedBonus')"
                [class.selected]="selectedBonus === 'speedBonus'">
                +2
            </button>
        </div>
        <div id="attack" [title]="'bonus.attackDesc' | translate" class="stat-container">
            <div class="stat-name">
                <h3>{{ 'bonus.attack' | translate }}</h3>
                <p class="stat-description">{{ 'bonus.attackDesc' | translate }}</p>
            </div>
            <h3>{{ this.player.stats.attack.value }}</h3>
            <button id="four-sides" class="button" (click)="selectAttackDice(d4Value)" [class.selected]="attackDice === d4Value">
                <img src="./assets/items/D4.png" class="dice" />
            </button>
            <button id="six-sides" class="button" (click)="selectAttackDice(d6Value)" [class.selected]="attackDice === d6Value">
                <img src="./assets/items/D6.png" class="dice" />
            </button>
        </div>
        <div id="defense" [title]="'bonus.defenseDesc' | translate" class="stat-container">
            <div class="stat-name">
                <h3>{{ 'bonus.defense' | translate }}</h3>
                <p class="stat-description">{{ 'bonus.defenseDesc' | translate }}</p>
            </div>
            <h3>{{ this.player.stats.defense.value }}</h3>
            <button
                id="four-sides"
                class="button"
                (click)="selectDefenseDice(d4Value)"
                [class.selected]="defenseDice === d4Value"
            >
                <img src="./assets/items/D4.png" class="dice" />
            </button>
            <button
                id="six-sides"
                class="button"
                (click)="selectDefenseDice(d6Value)"
                [class.selected]="defenseDice === d6Value"
            >
                <img src="./assets/items/D6.png" class="dice" />
            </button>
        </div>
    </div>
</div>
