<div class="game-editor">
    <div class="header">
        <button class="return-button" (click)="onReturnClick()">
            <img src="./assets/ui/left.png" />
            {{ 'edit_game.back' | translate }}
        </button>
        <h1>{{ 'edit_game.title' | translate }}</h1>
    </div>
    <div class="game-editor-container">
        <app-game-editor></app-game-editor>
    </div>
</div>

@if (showConfirmation) {
<app-pop-up
    [isError]="true"
    [popUpMessage]="quitMessage | translate"
    [showSecondButton]="true"
    [firstOption]="'common.yes' | translate"
    [secondOption]="'common.no' | translate"
    (confirm)="onConfirmQuit()"
    (cancel)="onCancelQuit()">
</app-pop-up>
}
