<div class="game-editor">
    <div class="header">
        <button class="return-button" (click)="onReturnClick()">
            <img src="./assets/ui/left.png" />
            Administrer les jeux
        </button>
        <h1>Mode édition</h1>
    </div>
    <div class="game-editor-container">
        <app-game-editor></app-game-editor>
    </div>
</div>

@if (showConfirmation) {
<app-pop-up [popUpMessage]="quitMessage"
    [showSecondButton]="true" firstOption="Oui" secondOption="Non" (confirm)="onConfirmQuit()"
    (cancel)="onCancelQuit()">
</app-pop-up>
}